<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Zoe</title>
    <script src="{{ static_url("jquery-2.1.4.min.js") }}" type="application/javascript"></script>
    <script src="{{ static_url("zoe.js") }}" type="application/javascript"></script>
    <link rel="stylesheet" href="{{ static_url("zoe.css") }}" type="text/css">
    {% endblock %}
    {% block custom_head %}
    {% endblock %}
</head>
<body>
    {% block content_header %}
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            <div class="status_line">
                <p>
                    <span id="app_name">
                        <a href="http://zoe-analytics.eu">Zoe Analytics</a> v. {{ zoe_version }}
                    </span>
                    &nbsp;&mdash;&nbsp;
                    <span>
                        <a href="https://github.com/DistributedSystemsGroup/zoe/issues">Give us some feedback!</a>
                    </span>
                    &nbsp;&mdash;&nbsp;
                    <span>&copy; Copyright 2017 by <a href="http://distsysgroup.wordpress.com/">DSG</a></span>
                </p>
            </div>
        {% endblock %}
    </div>
</body>
</html>
