{% extends "base_user.html" %}
{% block title %}Inspect execution {{ e.name }}{% endblock %}
{% block content %}
<h2>Detailed information for execution {{ e.name }}</h2>
<div id="contents">
<ul>
    <li>Application name: {{ e.description['name'] }}</li>
    <li>Owner: {{ e.user_id }}</li>
    <li>Status: {{ e.status }}</li>
    <li>Time submitted: <script>format_timestamp("{{ e.time_submit }}")</script></li>
    {% if e.time_start == None %}
    <li>Time started: not yet</li>
    {% else %}
    <li>Time started: <script>format_timestamp("{{ e.time_start }}")</script></li>
    {% endif %}
    {% if e.time_end == None %}
    <li>Time finished: not yet</li>
    {% else %}
    <li>Time finished: <script>format_timestamp("{{ e.time_end }}")</script></li>
    {%  endif %}
</ul>
{% if e.status == 'error' %}
<p>Error message: <code>{{ e.error_message }}</code></p>
{% endif %}

<div id="container_list">
{% if services_info|length > 0 %}
<h3>Services:</h3>
{% endif %}
<ul>
{% for s in services_info %}
    <li class="container_name" id="{{ s['id'] }}">{{ s['name'] }}</li>
    <ul>
    <li>Zoe status: {{ s['status'] }}</li>
    <li>Docker status: {{ s['backend_status'] }}</li>
    {% if s['error_message'] is not none %}
        <li>Error: {{ s['error_message'] }}</li>
    {% endif %}
    {% if s['backend_status'] == 'started' %}
        {% for p in s['description']['ports'] %}
            {% if s['proxy_address'] is not none %}
                <li><a href="{{ p['protocol'] }}://{{ s['proxy_address'] }}/{{ p['port_number'] }}">{{ p['name'] }}</a></li>
            {% else %}
                <li><a> {{ p['name'] }} IP: {{ s['ip_address'] }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
{% endfor %}
</ul>
</div>

</div>
{% endblock %}
