{% extends "base_user.jinja2" %}
{% block title %}Home{% endblock %}

{% block custom_head %}
    <script src="{{ static_url("sorttable.js") }}" type="application/javascript"></script>
    <script src="{{ static_url("moment.min.js") }}" type="application/javascript"></script>
    <script src="{{ static_url("moment-timezone.min.js") }}" type="application/javascript"></script>
    <script>
    function format_timestamp(ts) {
        var m = moment.utc(ts);
        m.local();
        document.write(m.calendar());
    }
    </script>
{% endblock %}

{% block content %}
    <div id="my_executions">
    <label class="filter">All executions <input class="filter" placeholder="Filter" /></label>
    {% if max_page > 0 %}
        <p>Pages:
            {% for page_n in range(0, max_page) %}
            {% if page_n == current_page %}
            {{ page_n + 1 }}&nbsp;
            {% else %}
            <a href="{{ reverse_url("execution_list_page", page_n) }}">{{ page_n + 1 }}</a>&nbsp;
            {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <table id="exec_list" class="app_list sortable">
    <thead>
    <tr>
        <th>ID</th>
        <th>ZApp</th>
        <th>Execution name</th>
        {% if user.role.can_operate_others %}
        <th>User</th>
        {% endif %}
        <th>Status</th>
        <th>Submitted</th>
        <th>Started</th>
        <th>Finished</th>
        <th class="sorttable_nosort">Actions</th>
    </tr>
    </thead>
    <tbody class="list">
        {% for e in executions %}
            <tr>
                <td>{{ e.id }}</td>
                <td class="exec-name">{{ e.app_name }}</td>
                <td class="exec-name"><a href="{{ reverse_url("execution_inspect", e.id) }}">{{ e.name }}</a></td>
                {% if user.role.can_operate_others %}
                <td>{{ e.owner.username }}</td>
                {% endif %}
                <td>{{ e.status }}</td>
                <td sorttable_customkey="{{ e.time_submit }}"><script>format_timestamp("{{ e.time_submit }}")</script></td>
                {% if e.time_start == None %}
                <td sorttable_customkey="-1">not yet</td>
                {% else %}
                <td sorttable_customkey="{{ e.time_start }}"><script>format_timestamp("{{ e.time_start }}")</script></td>
                {% endif %}
                {% if e.time_end == None %}
                <td sorttable_customkey="-1">not yet</td>
                {% else %}
                <td sorttable_customkey="{{ e.time_end }}"><script>format_timestamp("{{ e.time_end }}")</script></td>
                {% endif %}
                {% if e.is_active %}
                    <td><a href="{{ reverse_url("execution_terminate", e.id) }}">Terminate</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if max_page > 0 %}
        <p>Pages:
            {% for page_n in range(0, max_page) %}
            {% if page_n == current_page %}
            {{ page_n + 1 }}&nbsp;
            {% else %}
            <a href="{{ reverse_url("execution_list_page", page_n) }}">{{ page_n + 1 }}</a>&nbsp;
            {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    </div>

    <script>
    var $rows = $('#exec_list tbody tr');
    $('input.filter').keyup(function() {
        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;

        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            return !reg.test(text);
        }).hide();
    });
    </script>
{% endblock %}
