{% extends "base_user.html" %}
{% block title %}Inspect execution {{ e.name }}{% endblock %}

{% block custom_head %}
    <script src="/static/moment.min.js" type="application/javascript"></script>
    <script src="/static/moment-timezone.min.js" type="application/javascript"></script>
    <script>
    function format_timestamp(ts) {
        var m = moment.utc(ts);
        m.local();
        document.write(m.calendar());
    }
    </script>
{% endblock %}

{% block content %}
<h1>Zoe - Analytics on demand</h1>
<h2>Detailed information for execution {{ e.name }}</h2>
<div id="contents">
<ul>
    <li>Application name: {{ e.description['name'] }}</li>
    <li>Owner: {{ e.user_id }}</li>
    <li>Status: {{ e.status }}</li>
    <li>Time submitted: <script>format_timestamp("{{ e.time_submit }}")</script></li>
    {% if e.time_start == None %}
    <li>Time started: not yet</li>
    {% else %}
    <li>Time started: <script>format_timestamp("{{ e.time_start }}")</script></li>
    {% endif %}
    {% if e.time_end == None %}
    <li>Time finished: not yet</li>
    {% else %}
    <li>Time finished: <script>format_timestamp("{{ e.time_end }}")</script></li>
    {%  endif %}
</ul>
{% if e.status == 'error' %}
<p>Error message: <code>{{ e.error_message }}</code></p>
{% endif %}

<div id="endpoints">
<h3>Endpoints</h3>
{% if endpoints|length > 0 %}
<ul>
{% for endp in endpoints|sort %}
    <li><a href="{{ endp[1] }}">{{ endp[0] }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>This execution does not have any active endpoint</p>
{% endif %}
</div>

<div id="container_list">
{% if services_info|length > 0 %}
<h3>Services:</h3>
{% endif %}
<ul>
{% for s in services_info %}
    <li class="container_name">{{ s['name'] }}</li>
    <ul>
    <li>Zoe status: {{ s['status'] }}</li>
    <li>Backend status: {{ s['backend_status'] }}</li>
    {% if s['error_message'] is not none %}
        <li>Error: {{ s['error_message'] }}</li>
    {% endif %}
    <li><a href="{{ reverse_url("service_logs", s['id']) }}">Log output</a></li>
    </ul>
{% endfor %}
</ul>
</div>

</div>
{% endblock %}
