{% extends "base_user.jinja2" %}
{% block title %}Home{% endblock %}

{% block custom_head %}
    <script src="{{ static_url("sorttable.js") }}" type="application/javascript"></script>
    <script src="{{ static_url("moment.min.js") }}" type="application/javascript"></script>
    <script src="{{ static_url("moment-timezone.min.js") }}" type="application/javascript"></script>
    <script>
    function format_timestamp(ts) {
        var m = moment.utc(ts);
        m.local();
        document.write(m.calendar());
    }
    </script>
{% endblock %}

{% block content %}
    <h2>Welcome to Zoe Analytics</h2>

    <h3>Quota usage</h3>
    <ul>
    <li>Your quota is: {{ user.quota.name }}</li>
    <li>{{ running_executions|length }} of {{ user.quota.concurrent_executions }} running execution{{ "s" if user.quota.concurrent_executions > 1 }}</li>
    <li><script>format_bytes({{ total_memory }}, 2);</script> of <script>format_bytes({{ user.quota.memory }}, 2);</script> of memory</li>
    <li>{{ total_cores }} of {{ user.quota.cores }} cores</li>
    {% if disk_quota > -1 %}
    <li><script>format_bytes({{ disk_usage }}, 2)</script> of <script>format_bytes({{ disk_quota }}, 2)</script> of disk space</li>
    {% endif %}
    <li>Executions will be automatically killed after <script>document.write(moment.duration({{ user.quota.runtime_limit }}, "hours").humanize())</script></li>
    </ul>

    {% if running_executions|length > 0 %}
    <div class="execution_table">
    <h3>Running executions</h3>
    <table id="exec_list" class="app_list">
    <thead>
    <tr>
        <th>ID</th>
        <th>ZApp</th>
        <th>Execution name</th>
        <th>Status</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for e in running_executions %}
            <tr>
                <td>{{ e.id }}</td>
                <td class="exec-name">{{ e.app_name }}</td>
                <td><a href="{{ reverse_url("execution_inspect", e.id) }}">{{ e.name }}</a></td>
                <td>{{ e.status }}</td>
                {% if e.time_start == None %}
                <td>not yet</td>
                {% else %}
                <td><script>format_timestamp("{{ e.time_start }}")</script></td>
                {% endif %}
                {% if e.time_end == None %}
                <td>not yet</td>
                {% else %}
                <td><script>format_timestamp("{{ e.time_end }}")</script></td>
                {% endif %}
                {% if e.is_active %}
                    <td><a href="{{ reverse_url("execution_terminate", e.id) }}">Terminate</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% endif %}

    {% if last_executions|length > 0 %}
    <div class="execution_table">
    <h3>Most recent executions</h3>
    <table id="exec_list" class="app_list">
    <thead>
    <tr>
        <th>ID</th>
        <th>ZApp</th>
        <th>Execution name</th>
        <th>Status</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for e in last_executions %}
            <tr>
                <td>{{ e.id }}</td>
                <td class="exec-name">{{ e.app_name }}</td>
                <td><a href="{{ reverse_url("execution_inspect", e.id) }}">{{ e.name }}</a></td>
                <td>{{ e.status }}</td>
                {% if e.time_start == None %}
                <td>not yet</td>
                {% else %}
                <td><script>format_timestamp("{{ e.time_start }}")</script></td>
                {% endif %}
                {% if e.time_end == None %}
                <td>not yet</td>
                {% else %}
                <td><script>format_timestamp("{{ e.time_end }}")</script></td>
                {% endif %}
                {% if e.is_active %}
                    <td><a href="{{ reverse_url("execution_terminate", e.id) }}">Terminate</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% endif %}

    <h3>Role details</h3>
    <ul>
        <li>Your role is: {{ user.role.name }}</li>
        {% if user.role.can_see_status %}
        <li>You can access the status page</li>
        {% endif %}
        {% if user.role.can_change_config %}
        <li>You can change Zoe configuration</li>
        {% endif %}
        {% if user.role.can_operate_others %}
        <li>You can operate on other users</li>
        {% endif %}
        {% if user.role.can_delete_executions %}
        <li>You can delete executions</li>
        {% endif %}
        {% if user.role.can_access_api %}
        <li>You can access the API</li>
        {% endif %}
        {% if user.role.can_customize_resources %}
        <li>You can customize ZApp resource reservations</li>
        {% endif %}
        {% if user.role.can_access_full_zapp_shop %}
        <li>You can access the full ZApp shop</li>
        {% endif %}
    </ul>

{% endblock %}
