{% extends "base.jinja2" %}
{% block title %}Login{% endblock %}

{% block custom_head %}
    <script src="{{ static_url("jquery.validate.min.js") }}" type="application/javascript"></script>
{% endblock %}

{% block content %}

<div id="loginbox">
    <img alt="ZOE logo" src="{{ static_url("logo.png") }}">
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

    <div id="login-form">
        <form action="{{ reverse_url("login") }}" method="post" id="login_form">
            <label for="username">Username:</label>
            <input autocapitalize="off" autocorrect="off" class="text-input" id="username" name="username" tabindex="1" type="text" value=""><br>

            <label for="password">Password:</label>
            <input class="text-input" id="password" name="password" tabindex="2" type="password" value="">

            <div id="form_btn">
                <button id="signin-btn" class="btn btn-blue" type="submit" name="login" value="userpass" tabindex="3">Login</button>
            </div>
            {% if with_gitlab_oauth %}
                Or login with:
                <div class="form_btn">
                    <button id="signin-btn-oauth" class="btn btn-blue" type="submit" name="login" value="OAUTH" tabindex="3">Eurecom GitLab</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    $("#login_form").validate();
</script>

{% endblock %}
