{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div id="main-container">
        <div id="main">
            <div class="login-form">
                <img alt="Zoe Analytics logo" src="{{ static_url("img/logo.png") }}" class="logo">
                <form action="/login" method="post" id="login_form">
                    <fieldset>
                        <label for="username">User name</label>
                        <input class="text-input" autofocus="autofocus" id="username" name="username" tabindex="1" type="text" value="">
                    </fieldset>

                    <fieldset>
                        <label for="password">Password</label>
                        <input class="text-input" id="password" name="password" tabindex="2" type="password" value="">
                    </fieldset>
                    {% if why %}
                    <fieldset>
                    {% if why == "disabled" %}
                        <span class="error-message">User disabled</span>
                    {% endif %}
                    {% if why == "invalid" %}
                        <span class="error-message">Invalid user name or password</span>
                    {% endif %}

                    </fieldset>
                    {% endif %}

                    <div class="form-btn">
                        <button id="signin-btn" class="btn btn-blue" type="submit" tabindex="3">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
