{% extends "base_user.jinja2" %}
{% block title %}Service {{ service.name }} logs{% endblock %}
{% block content %}
    <h1>Zoe - Analytics on demand</h1>

<h2>{{ service.name }} console output</h2>

    <p>Note: timestamps in logs are recorded in the UTC timezone.</p>

<textarea class="logoutput" id="logoutput" readonly>
</textarea>

<p><a href="{{ reverse_url("execution_inspect", service.execution_id) }}">Back to execution details</a></p>

<script type="application/javascript">
var ws = new WebSocket('{{ websocket_base }}/websocket');
ws.onopen = function (e) {
    ws.send(JSON.stringify({
        command: "service_logs",
        service_id: {{ service.id }}
    }));
};

var log_element = $('#logoutput');
ws.onmessage = function (evt) {
    log_element.append(evt.data);
    log_element.scrollTop(log_element[0].scrollHeight);
};

</script>

{% endblock %}
