{% extends "base_user.html" %}
{% block title %}Zoe system status{% endblock %}

{% block custom_head %}
    <script src="/static/Chart.min.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
<h2>Zoe system status</h2>

    <h3>Scheduler</h3>

    <ul>
        <li>Queue length: <span id="sched_queue_len">{{ stats.queue_length }}</span></li>
        <li>Running queue length: <span id="sched_running_queue_len">{{ stats.running_length }}</span></li>
        <li>On-going clean-up threads: <span id="termination_threads_count">{{ stats.termination_threads_count }}</span></li>
    </ul>

    <h4>Queue</h4>
    <p>Service border legend:</p>
    <ul>
        <li>Green/red: service is active/inactive. Active services have been scheduled and placed.</li>
        <li>Solid/dashed: service is essential/elastic</li>
    </ul>
    <div class="scheduler_queue">
    {% for id in stats['queue'] %}
        <div class="queue_item" id="{{ id }}">
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].user_id }})
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['queue']|length == 0 %}
    <p>The queue is empty.</p>
    {% endif %}
    </div>

    <h4>Running queue</h4>
    <p>This queue is unsorted, all services here should be green.</p>
    <div class="scheduler_queue">
    {% for id in stats['running_queue'] %}
                <div class="queue_item" id="{{ id }}">
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].user_id }})
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['running_queue']|length == 0 %}
    <p>The running queue is empty.</p>
    {% endif %}
    </div>

    <h3>Platform</h3>
    <ul>
        <li>Total containers: {{ stats.platform_stats.container_count }}</li>
        <li>Total memory: <script>format_bytes({{ stats.platform_stats.memory_total }}, 2) </script></li>
        <li>Total cores: {{ stats.platform_stats.cores_total }}</li>
    </ul>

    <div class="platform_node_detail">
    {% for node in stats.platform_stats.nodes %}
        <div class="node_detail">
        <div class="node_name">
            {{ node['name'] }}
            {% if node['status'] == 'offline' %}
                (node is offline/unreachable)
            {% endif %}
        </div>
        <div class="container_count">{{ node['container_count'] }} containers</div>

        <div class="plot-container">
            <p>Memory</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-mem-res"></canvas>
                <canvas class="node_status_canvas" id="{{ node.name }}-mem-use"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Reserved memory',
                data: [{{ node['memory_reserved'] }}, {{ node['memory_total'] - node['memory_reserved'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'Free']
        };
        ctx = document.getElementById("{{ node.name }}-mem-res").getContext('2d');
        new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                animation: {
                    animateRotate: false
                }
            }
        });

        data = {
            datasets: [{
                label: 'Used memory',
                data: [{{ node['memory_total'] - node['memory_free'] }}, {{ node['memory_free'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['In-use', 'Free']
        };
        ctx = document.getElementById("{{ node.name }}-mem-use").getContext('2d');
        myPieChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                animation: {
                    animateRotate: false
                }
            }
        });
        </script>

        <div class="plot-container">
            <p>Cores</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-cpu-res"></canvas>
                <canvas class="node_status_canvas" id="{{ node.name }}-cpu-use"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Reserved cores',
                data: [{{ node['cores_reserved'] }}, {{ node['cores_total'] - node['cores_reserved'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'Free']
        };
        ctx = document.getElementById("{{ node.name }}-cpu-res").getContext('2d');
        new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                animation: {
                    animateRotate: false
                }
            }
        });

        data = {
            datasets: [{
                label: 'Used memory',
                data: [{{ node['cores_total'] - node['cores_free'] }}, {{ node['cores_free'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['In-use', 'Free']
        };
        ctx = document.getElementById("{{ node.name }}-cpu-use").getContext('2d');
        myPieChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                animation: {
                    animateRotate: false
                }
            }
        });
        </script>
        </div>
    {% endfor %}
    </div>

{% endblock %}
