{% extends "base_user.html" %}
{% block title %}Zoe system status{% endblock %}

{% block custom_head %}
    <script src="/static/Chart.min.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
<h2>Zoe system status</h2>

    <div>
    <h3 class="section">Index</h3>
    <ul>
        <li><a href="#scheduler">Scheduler</a></li>
        <li><a href="#platform">Platform</a></li>
        <li><a href="#service-distrib">Service distribution</a></li>
    </ul>
    </div>

    <h3 class="section"><a name="scheduler">Scheduler</a></h3>

    <ul>
        <li>Queue length: <span id="sched_queue_len">{{ stats.queue_length }}</span></li>
        <li>Running queue length: <span id="sched_running_queue_len">{{ stats.running_length }}</span></li>
        <li>On-going clean-up threads: <span id="termination_threads_count">{{ stats.termination_threads_count }}</span></li>
    </ul>

    <h4>Queue</h4>
    <p>Service border legend:</p>
    <ul>
        <li>Green/red: service is active/inactive. Active services have been scheduled and placed.</li>
        <li>Solid/dashed: service is essential/elastic</li>
    </ul>
    <div class="scheduler_queue">
    {% for id in stats['queue'] %}
        <div class="queue_item" id="{{ id }}">
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].user_id }})
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['queue']|length == 0 %}
    <p>The queue is empty.</p>
    {% endif %}
    </div>

    <h4>Running queue</h4>
    <p>This queue is unsorted, all services here should be green.</p>
    <div class="scheduler_queue">
    {% for id in stats['running_queue'] %}
                <div class="queue_item" id="{{ id }}">
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].user_id }})
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['max'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['max'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['running_queue']|length == 0 %}
    <p>The running queue is empty.</p>
    {% endif %}
    </div>

    <h3 class="section"><a name="platform">Platform</a></h3>
    <ul>
        <li>Total containers: {{ stats.platform_stats.container_count }}</li>
        <li>Total memory: <script>format_bytes({{ stats.platform_stats.memory_total }}, 2) </script></li>
        <li>Total cores: {{ stats.platform_stats.cores_total }}</li>
    </ul>

    <div class="platform_node_detail">
    {% for node in stats.platform_stats.nodes %}
        <div class="node_detail">
        <div class="node_name">
            {{ node['name'] }}
            {% if node['status'] == 'offline' %}
                (node is offline/unreachable)
            {% endif %}
        </div>
        <div class="container_count">{{ node['container_count'] }} containers</div>
        {% if node['labels']|length > 0 %}
        <div class="container_count">Labels:
            {% for label in node['labels'] %}
            {{ label }}&nbsp;
            {% endfor %}
        </div>
        {% else %}
        <div class="container_count">No labels</div>
        {% endif %}

        <div class="plot-container">
            <p>Memory</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-mem"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Memory',
                data: [{{ node['memory_reserved'] }}, {{ node['memory_in_use'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'In use']
        };
        ctx = document.getElementById("{{ node.name }}-mem").getContext('2d');
        new Chart(ctx,{
            type: 'bar',
            data: data,
            options: {
                animation: {
                    duration: 0
                },
                responsiveAnimationDuration: 0,
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return format_bytes_ret(value);
                            },
                            max: {{ node['memory_total'] }}
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return format_bytes_ret(tooltipItem.yLabel);
                        }
                    }
                }
            }
        });
        </script>

        <div class="plot-container">
            <p>Cores</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-cpu"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Reserved cores',
                data: [{{ node['cores_reserved'] }}, {{ node['cores_in_use'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'In use']
        };
        ctx = document.getElementById("{{ node.name }}-cpu").getContext('2d');
        new Chart(ctx,{
            type: 'bar',
            data: data,
            options: {
                animation: {
                    duration: 0
                },
                responsiveAnimationDuration: 0,
                scales: {
                    yAxes: [{
                        ticks: {
                            max: {{ node['cores_total'] }},
                            stepSize: 8
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });

        data = {
            datasets: [{
                label: 'Used memory',
                data: [{{ node['cores_in_use'] }}, {{ node['cores_total'] - node['cores_in_use'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['In-use', 'Free']
        };
        ctx = document.getElementById("{{ node.name }}-cpu-use").getContext('2d');
        myPieChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
                animation: {
                    animateRotate: false
                }
            }
        });
        </script>
        </div>
    {% endfor %}
    </div>

    <h3 class="section"><a name="service-distrib">Service distribution</a></h3>
    <table class="service-distrib">
    <thead>
    <tr>
        <th class="cell-host">Host</th>
        <th colspan="{{ max_service_count }}">Services and reserved resources</th>
    </tr>
    </thead>
    <tbody>
    {% for node in stats.platform_stats.nodes %}
    <tr>
        <td class="cell-host">{{ node.name }}</td>
        {% for service in node.services %}
            <td><a href="{{ reverse_url('execution_inspect', service['execution_id']) }}">{{ service['name'] }}</a> (M: <script>format_bytes({{ service['description']['resources']['memory']['max'] }});</script> C: {{ service['description']['resources']['cores']['max'] }})</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>

    <script>
    function refresh_page() {
        document.location.reload();
    }
    setInterval(refresh_page, 15000);
    </script>
{% endblock %}
