{% extends "base_user.jinja2" %}
{% block title %}Zoe system status{% endblock %}

{% block custom_head %}
    <script src="{{ static_url("Chart.min.js") }}" type="application/javascript"></script>
    <script>
    Chart.scaleService.updateScaleDefaults('linear', {
        ticks: {
            min: 0
        }
    });
    </script>
{% endblock %}

{% block content %}
<h2>Zoe system status</h2>

    <div>
    <h3 class="section">Index</h3>
    <ul>
        <li><a href="#scheduler">Scheduler</a></li>
        <li><a href="#platform">Platform</a></li>
        <li><a href="#service-distrib">Service distribution</a></li>
        {% if eurecom %}
        <li><a href="#logs">Zoe process logs</a></li>
        {% endif %}
    </ul>
    </div>

    <h3 class="section"><a name="scheduler">Scheduler</a></h3>

    <ul>
        <li>Queue length: <span id="sched_queue_len">{{ stats.queue_length }}</span></li>
        <li>Running queue length: <span id="sched_running_queue_len">{{ stats.running_length }}</span></li>
        <li>Clean-up queue length: <span id="termination_threads_count">{{ stats.termination_queue_length }}</span></li>
    </ul>

    <h4>Queue</h4>
    <p>Service border legend:</p>
    <ul>
        <li>Green/red: service is active/inactive. Active services have been scheduled and placed.</li>
        <li>Solid/dashed: service is essential/elastic</li>
    </ul>
    <div class="scheduler_queue">
    {% for id in stats['queue'] %}
        <div class="queue_item" id="{{ id }}">
            {% if user.role.can_operate_others %}
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].owner.username }})
            {% else %}
            {{ id }} ({{ executions_in_queue[id].owner.username }})
            {% endif %}
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if not service.is_dead() }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if not service.is_dead() }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['queue']|length == 0 %}
    <p>The queue is empty.</p>
    {% endif %}
    </div>

    <h4>Running queue</h4>
    <p>This queue is unsorted, all services here should be green.</p>
    <div class="scheduler_queue">
    {% for id in stats['running_queue'] %}
            <div class="queue_item" id="{{ id }}">
            {% if user.role.can_operate_others %}
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].owner.username }})
            {% else %}
            {{ id }} ({{ executions_in_queue[id].owner.username }})
            {% endif %}
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['running_queue']|length == 0 %}
    <p>The running queue is empty.</p>
    {% endif %}
    </div>

    <h4>Clean-up queue</h4>
    <p>This queue contains executions that are waiting to be cleaned-up.</p>
    <div class="scheduler_queue">
    {% for id in stats['termination_queue'] %}
            <div class="queue_item" id="{{ id }}">
            {% if user.role.can_operate_others %}
            <a href="{{ reverse_url('execution_inspect', id) }}">{{ id }}</a> ({{ executions_in_queue[id].owner.username }})
            {% else %}
            {{ id }} ({{ executions_in_queue[id].owner.username }})
            {% endif %}
            {% for service in executions_in_queue[id].services %}
                {% if service.essential %}
                <div class="service essential {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
            {% for service in executions_in_queue[id].services %}
                {% if not service.essential %}
                <div class="service {{ 'running' if service.status == service.ACTIVE_STATUS }}">
                    {{ service['name'] }}<br/>
                    M: <script>format_bytes({{ service['resource_reservation']['memory']['min'] }});</script><br/>
                    C: {{ service['resource_reservation']['cores']['min'] }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% if stats['running_queue']|length == 0 %}
    <p>The running queue is empty.</p>
    {% endif %}
    </div>

    <h3 class="section"><a name="platform">Platform</a></h3>
    <ul>
        <li>Total containers: {{ stats.platform_stats.container_count }}</li>
        <li>Memory: <script>format_bytes({{ stats.platform_stats.memory_total }}, 2)</script> total, <script>format_bytes({{ stats.platform_stats.memory_reserved }}, 2)</script> reserved, <script>format_bytes({{ stats.platform_stats.memory_in_use }}, 2)</script> in use</li>
        <li>Cores: {{ stats.platform_stats.cores_total }} total, {{ stats.platform_stats.cores_reserved }} reserved, {{ stats.platform_stats.cores_in_use }} in use</li>
    </ul>

    <div class="platform_node_detail">
    {% for node in stats.platform_stats.nodes %}
        <div class="node_detail">
        <div class="node_name">
            {{ node['name'] }}
            {% if node['status'] == 'offline' %}
                (node is offline/unreachable)
            {% endif %}
        </div>
        <div class="container_count">{{ node['container_count'] }} containers</div>
        {% if node['labels']|length > 0 %}
        <div class="container_count">Labels:
            {% for label in node['labels'] %}
            {{ label }}&nbsp;
            {% endfor %}
        </div>
        {% else %}
        <div class="container_count">No labels</div>
        {% endif %}

        <div class="plot-container">
            <p>Memory</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-mem"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Memory',
                data: [{{ node['memory_reserved'] }}, {{ node['memory_allocated'] }}, {{ node['memory_in_use'] }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(53, 51, 144, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'Allocated', 'In use']
        };
        ctx = document.getElementById("{{ node.name }}-mem").getContext('2d');
        new Chart(ctx,{
            type: 'bar',
            data: data,
            options: {
                animation: {
                    duration: 0
                },
                responsiveAnimationDuration: 0,
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return format_bytes_ret(value);
                            },
                            max: {{ node['memory_total'] }}
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return format_bytes_ret(tooltipItem.yLabel);
                        }
                    }
                }
            }
        });
        </script>

        <div class="plot-container">
            <p>Cores</p>
            <div class="pie-plots">
                <canvas class="node_status_canvas" id="{{ node.name }}-cpu"></canvas>
            </div>
        </div>
        <script>
        data = {
            datasets: [{
                label: 'Cores',
                data: [{{ '%0.2f'|format(node['cores_reserved']|float) }}, {{ '%0.2f'|format(node['cores_allocated']|float) }}, {{ '%0.2f'|format(node['cores_in_use']|float) }}],
                backgroundColor: ['rgba(0, 169, 225, 1.0)', 'rgba(53, 51, 144, 1.0)', 'rgba(145, 192, 46, 1.0)']
            }],
            'labels': ['Reserved', 'Allocated', 'In use']
        };
        ctx = document.getElementById("{{ node.name }}-cpu").getContext('2d');
        new Chart(ctx,{
            type: 'bar',
            data: data,
            options: {
                animation: {
                    duration: 0
                },
                responsiveAnimationDuration: 0,
                scales: {
                    yAxes: [{
                        ticks: {
                            max: {{ node['cores_total'] }},
                            stepSize: 8
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
        </script>
        </div>
    {% endfor %}
    </div>

    <h3 class="section"><a name="service-distrib">Service distribution</a></h3>
    <p>Services marked with a green border are essential, elastic ones have no border.</p>
    <table class="service-distrib">
    <thead>
    <tr>
        <th class="cell-host">Host</th>
        <th colspan="{{ max_service_count }}">Services and allocated resources</th>
    </tr>
    </thead>
    <tbody>
    {% for node in stats.platform_stats.nodes %}
    <tr>
        <td class="cell-host">{{ node.name }}</td>
        {% for service in services_per_node[node.name] %}
            {% if service.backend_status == "started" %}
            <td class="{{ 'running' if service.essential }}">
                {% if user.role.can_operate_others %}
                    <a href="{{ reverse_url('execution_inspect', service['execution_id']) }}">{{ service['execution_id'] }}:{{ service['name'] }}</a>
                {% else %}
                    {{ service['name'] }}
                {% endif %}
                (M: <script>format_bytes({{ node.service_stats[service['id']]['mem_limit'] }});</script> C: {{ '%0.2f'|format(node.service_stats[service['id']]['core_limit']|float) }})
            </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if eurecom %}
    <h3 class="section"><a name="logs">Zoe process</a></h3>
    <ul>
        <li><a href="http://192.168.46.31:9001">Zoe API</a></li>
        <li><a href="http://192.168.46.31:9002">Zoe master</a></li>
    </ul>
    {% endif %}

    <script>
    function refresh_page() {
        document.location.reload();
    }
    setInterval(refresh_page, 15000);
    </script>
{% endblock %}
