{
  "3": {
    "status": "terminated",
    "description": "zapp_json_file",
    "error_message": "null",
    "time_start": 1481101311.959411,
    "time_submit": 1481101311.26469,
    "time_end": 1481299957.196575,
    "id": 3,
    "user_id": "test",
    "name": "mongo",
    "services": [3]
  },
  "4": {
    "status": "terminated",
    "description": "zapp_json_file",
    "error_message": "null",
    "time_start": 1481108193.321386,
    "time_submit": 1481108191.016612,
    "time_end": 1481146353.074203,
    "id": 4,
    "user_id": "test",
    "name": "mongo-jupyter",
    "services": [6, 4, 5]
  }
}

