body {
    font-family: sans-serif;
    max-width: 800px;
    margin-left: 20px;
}

a:link {
    color: rgba(79, 140, 30, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(79, 140, 30, 1);
    text-decoration: none;
}

div#activities {
    padding-left: 3em;
}

a.activity {
    width: 100px;
    height: 80px;
    border: 1px black solid;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    padding: 1em;
    text-align: center;
    display: block;
}

a.activity:hover {
    transition: background-color 200ms linear;
    background-color: khaki;
}

div.user_info {
    font-size: smaller;
    clear: both;
    padding-top: 20px;
}

div.caaas_status_line {
    float: left;
}

span#app_name {
    font-family: cursive;
    font-size: larger;
}

span#status {
    font-size: smaller;
}

div.copyright {
    float: left;
    padding-left: 3em;
}