body {
    font-family: sans-serif;
    max-width: 90%;
    margin-left: 20px;
}

a:link {
    color: rgba(79, 140, 30, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(79, 140, 30, 1);
    text-decoration: none;
}

/* header */

div.header {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(79, 140, 30, 1);
}

#logos img {
    height: 4em;
}

#user_info {
    padding-right: 1em;
    padding-top: 0.4em;
    position: absolute;
    right: 0;
}

#nav {
    font-size: 1.4em;
}

.nav-item {
    float: left;
    padding-left: 1em;
}

.nav-item:hover a {
    color: #000;
}

/* content */
#content {
    clear: both;
}

table.app_list {
    border-collapse: collapse;
}

table.app_list tr {
    border-top: 1px black solid;
}

table.app_list td {
    padding-right: 1.5em;
}

table.app_list tr.even {
    background-color: #F3FEEA;
}

div.status_line {
    float: left;
}

#footer {
    font-size: smaller;
}

input {
    margin-top: 5px;
}

#loginbox {
    width: 25em;
    margin: 0 auto;
    text-align: center;
}

#loginbox img {
    width: 100%;
}

textarea.logoutput {
    width: 100%;
    height: 40em;
    font-size: 0.7em;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
}

.readable_description {
    display: none;
}
