body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 20px;
}

a:link {
    color: #00a9e1;
    text-decoration: none;
}

a:visited {
    color: #00a9e1;
    text-decoration: none;
}

/* Header on top of almost all pages */
div.top-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: white;
    border-bottom: solid 1px black;
}

div.top-header img.logo {
    height: 100%;
    display: block;
    float: left;
}

div.top-header ul.header-menu {
    float: left;
    list-style: none;
    margin: 0;
    height: 5em;
}

div.top-header ul.header-menu li {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid transparent;
    transition: border-color ease-in-out 0.15s;
    font-size: 1.3em;
}

div.top-header ul.header-menu li:hover {
    color: #353390;
}

div.top-header span.current-user {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Main content of the page */
#content {
    width: 90%;
}

/* Login form */
div.login-form {
    position: absolute;
    top: 80px;
    left: 50%;
    margin: 0 0 0 -195px;
    width: 390px;
    border: 1px solid #ddd;
    max-height: none;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: border-box;
}

div.login-form img.logo {
    width: 95%;
    margin: 0 auto;
    display: block;
}

div.login-form input {
    width: 90%;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 6px 12px;
}

div.login-form input:focus {
    border-color: #33c0c4;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 192, 196, 0.6);
}

div.login-form label {
    margin-bottom: 5px;
    text-align: left;
    color: #555555;
    font-weight: bold;
    display: inline-block;
}

div.login-form div.form-btn {
    float: right;
}

div.login-form fieldset {
    border: 0;
}

div.login-form button {
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    border: 1px solid transparent;
}

div.login-form button:hover {
    color: #fff;
    background-color: #33c0c4;
    border-color: #00a9e1;
}

div.login-form span.error-message {
    color: red;
}
