{% extends "base_user.html" %}
{% block title %}Inspect execution {{ execution.name }}{% endblock %}
{% block content %}
<h2>Detailed information for execution {{ execution.name }}</h2>
{% if execution.containers|count == 0 %}
    <p>This application execution has no running containers</p>
{% else %}
    <div id="contents">
    <div id="container_list">
    <ul>
    {% for c in execution.containers %}
        <li class="container_name" id="{{ c.id }}"><span onclick="get_container({{ c.id }})" class="fakelink">{{ c.readable_name }}</span></li>
    {% endfor %}
    </ul>
    </div>
    <div id="stats">
        <ul>
            <li>Memory used <span id="ram_used">0</span> of <span id="ram_total">0</span></li>
            <li>Network: <span id="net_rx">0</span> rx, <span id="net_tx">0</span> tx</li>
            <li>Disk I/O: <span id="io_bytes_read">0</span> read, <span id="io_bytes_write">0</span> written</li>
        </ul>
    </div>
    <div id="log_area">
        <textarea id="log" disabled></textarea>
    </div>
    </div>

<script type="application/javascript">
    function humanFileSize(bytes) {
        var si = true;
        var thresh = si ? 1000 : 1024;
        if(Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }
        var units = si
            ? ['kB','MB','GB','TB','PB','EB','ZB','YB']
            : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
        var u = -1;
        do {
            bytes /= thresh;
            ++u;
        } while(Math.abs(bytes) >= thresh && u < units.length - 1);
        return bytes.toFixed(1)+' '+units[u];
    }

    function get_log(container_id) {
        $.getJSON('/api/executions/logs/container/' + container_id)
                .done(function( data ) {
                    $("#log").val(data.log);
                }).error(function( data ) {
                    $("#log").val("error fetching log");
                });
    }

    function get_stats(container_id) {
        $.getJSON('/api/executions/stats/container/' + container_id)
                .done(function( data ) {
                    $("#ram_used").text(humanFileSize(data.memory_used));
                    $("#ram_total").text(humanFileSize(data.memory_total));
                    $("#net_rx").text(humanFileSize(data.net_bytes_rx));
                    $("#net_tx").text(humanFileSize(data.net_bytes_tx));
                    $("#io_bytes_read").text(humanFileSize(data.io_bytes_read));
                    $("#io_bytes_write").text(humanFileSize(data.io_bytes_write));
                }).error(function( data ) {
                    $("#ram_used").text("N/A");
                    $("#ram_total").text("N/A");
                    $("#net_rx").text("N/A");
                    $("#net_tx").text("N/A");
                });
    }

    function get_container(container_id) {
        get_log(container_id);
        get_stats(container_id);
    }
    get_log({{ (execution.containers|first).id }});
    get_stats({{ (execution.containers|first).id }});
</script>
{% endif %}

{% endblock %}