{% extends "base.html" %}
{% block title %}{{ app.description.name }} startup{% endblock %}
{% block content %}

<h1>New {{ app.description.name }} execution</h1>

    <p id="starting">Starting execution...</p>
    <p id="scheduled" style="display: none">Your execution request has been schduled and will be served as soon as possible.
    You can monitor application status from the <a href="{{ url_for("web.home") }}">home page</a>.</p>
    <p id="schedule_error" style="display: none">Your execution request has been denied. The system is not currently able to satisfy the
        application resource requirements.</p>
    <p id="communication_error" style="display: none">Error: there is a communication problem with the Zoe web server. Is the network
        still available?.</p>

    <script type="application/javascript">
    function completeHandler(e) {
        if (e.status == "ok") {
            $("#starting").hide();
            $("#scheduled").show();
        } else {
            $("#starting").hide();
            $("#schedule_error").show();
        }
        return false;
    }

    function errorHandler() {
        $("#starting").hide();
        $("#communication_error").show();
    }

    function start() {
        $.getJSON("{{ url_for("api.execution_start", app_id=app.id) }}")
                .done(completeHandler)
                .error(errorHandler);
    }
    start();
    </script>

{% endblock %}