{% extends "base_user.html" %}
{% block title %}Terminate execution {{ execution.name }}{% endblock %}
{% block content %}
<script type="application/javascript">
    (function() {
        $.getJSON("{{ url_for("api.execution_terminate", exec_id=execution.id) }}")
                .done(function( data ) {
                    if (data.status == "ok") {
                        $("#result").empty().append("Cluster terminated succesfully");
                    } else {
                        $("#result").empty().append("Cluster did not terminate succesfully, something happened")
                    }
                });
    })();
</script>
<h2>Termination request for execution "{{ execution.name }}"</h2>

    <p id="result">Request sent...</p>

{% endblock %}