{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div id="my_applications">
    <h3>My applications <span class="new">(<a href="{{ url_for("web.application_new") }}">add new</a>)</span></h3>

    {% if apps|count == 0 %}
        <p>You have no applications defined. <a href="{{ url_for("web.application_new") }}">Click here</a> to create a new one!</p>
    {% else %}

    <table id="app_list" class="app_list sortable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Req. containers</th>
        <th>Req. RAM</th>
    </tr>
    </thead>
    <tbody>
        {% for a in apps %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ a.description.name }}</td>
            <td>{{ a.description.container_count() }}</td>
            <td><script>format_bytes({{ a.description.total_memory() }})</script></td>
            <td><a href="{{ url_for('web.application_modify', app_id=a.id) }}">Modify</a></td>
            {% if a.description.requires_binary and not binaries[a.id] %}
            <td>Missing binary</td>
            {% else %}
            <td><a href="{{ url_for('web.execution_start', app_id=a.id) }}">Run</a></td>
            {% endif %}
            <td><a href="{{ url_for('web.application_delete', app_id=a.id) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>

    <div id="my_executions">
    <h3>Active executions</h3>
    {% if active_executions|count == 0 %}
        <p>You have no active executions at this time.</p>
    {% else %}

    <table id="exec_list" class="app_list sortable">
    <thead>
    <tr>
        <th>Application name</th>
        <th>#</th>
        <th>Status</th>
        <th>Scheduled</th>
        <th>Started</th>
        <th>Container count</th>
    </tr>
    </thead>
    <tbody>
        {% for e in active_executions %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ e[0].description.name }}</td>
            <td>{{ e[1].name }}</td>
            <td>{{ e[1].status }}</td>
            <td><script>format_timestamp({{ e[1].time_scheduled.timestamp() }})</script></td>
            {% if e[1].time_started == None %}
            <td>not yet</td>
            {% else %}
            <td><script>format_timestamp({{ e[1].time_started.timestamp() }})</script></td>
            {% endif %}
            <td>{{ e[1].containers|count }}</td>
            {% if e[1].time_started != 'None' %}
            <td><a href="{{ e[2] }}">Open</a></td>
            {% endif %}
            <td><a href="{{ url_for('web.execution_inspect', execution_id=e[1].id) }}">Inspect</a></td>
            <td><a href="{{ url_for('web.execution_terminate', exec_id=e[1].id) }}">Terminate</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>

    <div id="my_history">
    <h3>Execution history</h3>
    {% if past_executions|count == 0 %}
        <p>Empty history.</p>
    {% else %}

    <table id="hist_list" class="app_list sortable">
    <thead>
    <tr>
        <th>Application name</th>
        <th>Execution name</th>
        <th>Status</th>
        <th>Scheduled</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
        {% for e in past_executions %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>{{ e[0].name }}</td>
            <td>{{ e[1].name }}</td>
            <td>{{ e[1].status }}</td>
            <td><script>format_timestamp({{ e[1].time_scheduled.timestamp() }})</script></td>
            <td><script>document.write(moment.duration({{ e[1].time_finished.timestamp() }} - {{ e[1].time_scheduled.timestamp() }}, "seconds").humanize())</script></td>
            {% if e[1].time_started != None %}
            <td><a href="{{ url_for('api.history_logs_get', execution_id=e[1].id) }}">Logs</a></td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}

    </div>

    <div class="user_info">
        <p>Email address used for notifications: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </div>

{% endblock %}