{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div id="activities">
        <a class="activity" href="{{ url_for("web_notebook", user_id=user_id) }}">Give me a Spark notebook</a>

        <a class="activity" href="{{ url_for("web_spark_submit", user_id=user_id) }}">Submit a Spark application</a>

        <a class="activity" href="{{ url_for("web_user_apps", user_id=user_id) }}">History</a>
    </div>

    <div class="user_info">
        <p>Email address used for notifications: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </div>

{% endblock %}