{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
function completeHandler() {
    location.href = "{{ url_for('web.home') }}";
}
function errorHandler() {}
function process()
{
    var formData = new FormData($('#userdata')[0]);
    $.ajax({
            url: '{{ url_for("api.login") }}',  //Server script to process data
            type: 'POST',
            success: completeHandler,
            error: errorHandler,
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    return false;
}
</script>

<form onSubmit="return process();" id="userdata">
    <label for="user">Type your email address to start:</label>
    <input id="user" autofocus required type="email" autocomplete="on" name="email" size="30">
    <input type="submit" value="Start">
</form>

<p>If you are a new user, just type your email address in the box above, it will be used to send notifications about the applications
    you start.</p>

{% endblock %}