{% extends "base_user.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<h2>System status overview</h2>

<h3>Scheduler stats</h3>
    <ul>
        <li>Running applications: {{ platform.scheduler.count_running }}</li>
        <li>Waiting applications: {{ platform.scheduler.count_waiting }}</li>
    </ul>

<h3>Swarm staus</h3>
    <ul>
        <li>Running containers: {{ platform.swarm.container_count }}</li>
        <li>Images: {{ platform.swarm.image_count }}</li>
        <li>Total memory: {{ platform.swarm.memory_total|filesizeformat }}</li>
        <li>Number of cores: {{ platform.swarm.cores_total }}</li>
        <li>Swarm placement strategy: {{ platform.swarm.placement_strategy }}</li>
    </ul>
<h3>Node status:</h3>
    {% for node in platform.swarm.nodes %}
    <h4>{{ node.name }}</h4>
    <ul>
        <li>Running containers: {{ node.container_count }}</li>
        <li>Cores: {{ node.cores_total }}</li>
        <li>Cores reserved: {{ node.cores_reserved }}</li>
        <li>Memory: {{ node.memory_total }}</li>
        <li>Memory reserved: {{ node.memory_reserved }}</li>
        <li>Labels: {{ node.labels }}</li>
    </ul>
    {% endfor %}
{% endblock %}