<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - CAAAS</title>
    <script src="/static/jquery-2.1.4.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        var api_endpoint = "/api";
    </script>
    {% endblock %}
</head>
<body>
    <script>
        function update_status() {
            $.getJSON("{{ url_for("api_status") }}")
                .done(function( data ) {
                    $("#num_nodes").text(data.num_nodes);
                    $("#num_containers").text(data.num_containers);
                }).error(function( data ) {
                    $("#num_nodes").text("N/A");
                    $("#num_containers").text("N/A");
                });
        }
        update_status();
        window.setInterval(update_status, 5000);
    </script>
    <h1>DSG CAaaS system - Analytics on demand</h1>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            <div class="caaas_status"><p><em>CAaaS</em> status: <span id="num_nodes">N/A</span> available nodes, <span id="num_containers">N/A</span> containers running</p></div>
            <h6>&copy; Copyright 2015 by <a href="http://distsysgroup.wordpress.com/">DSG</a></h6>
        {% endblock %}
    </div>
</body>
</html>