{% extends "base_user.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<p>Start an activity:</p>
<ul>
    <li><a href="/web/{{ user }}/spark-notebook">Give me a Spark notebook</a></li>
    <li><a href="/web/{{ user }}/submit-spark-app">Submit a Spark application</a></li>
</ul>

<p>Monitor my activities:</p>
<ul>
    <li><a href="/web/{{ user }}/status">Running applications</a></li>
</ul>

<p>Cluster status:</p>
<ul>
    <li><a href="/web/status">Overview</a></li>
</ul>



{% endblock %}