{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
function process()
{
    var url = "http://" + window.location.hostname + "/web/" +  $("#user").val();
    location.href = url;
    return false;
}
</script>

<form onSubmit="return process();">
    <label for="user">Type your username to start:</label>
    <input id="user" autofocus required type="email" autocomplete="on">
    <input type="submit" value="Start">
</form>

<p>To create a new user, just type a new username in the box above, only lowercase letters are accepted.</p>

{% endblock %}