{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
function process()
{
    location.href = "http://" + window.location.hostname + "/web/login/" +  $("#user").val();
    return false;
}
</script>

<form onSubmit="return process();">
    <label for="user">Type your email address to start:</label>
    <input id="user" autofocus required type="email" autocomplete="on" name="email" size="30">
    <input type="submit" value="Start">
</form>

<p>If you are a new user, just type your email address in the box above, it will be used to send notifications about the applications
    you start.</p>

{% endblock %}