{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<script>
function process()
{
var url = "http://" + window.location.hostname + "/web/" +  $("#user").val();
location.href = url;
return false;
}
</script>

<h1>DSG CAaaS system - Analytics on demand</h1>

<form onSubmit="return process();">
    <label>Type your username to start:
    <input id="user" autofocus required pattern="[a-z]+"></label>
    <input type="submit" value="Start">
</form>

<p>To create a new user, just type a new username in the box above, only lowercase letters are accepted.</p>

{% endblock %}