{% extends "base_user.html" %}
{% block title %}Terminate cluster {{ cluster_name }}{% endblock %}
{% block content %}
<script type="application/javascript">
    (function() {
        $.getJSON( api_endpoint + "/{{ user }}/cluster/{{ cluster_id }}/terminate")
                .done(function( data ) {
                    if (data.status == "ok") {
                        $("#result").empty().append("Cluster terminated succesfully");
                    } else {
                        $("#result").empty().append("Cluster did not terminate succesfully, something happened")
                    }
                });
    })();
</script>
<h2>Termination request for cluster {{ cluster_name }}</h2>

    <p id="result">Request sent...</p>

{% endblock %}