{% extends "base_user.html" %}
{% block title %}{{ user }} status{% endblock %}
{% block content %}
<h2>Status overview for user {{ user }}</h2>

<div id="cluster_list">
{% if clusters|length == 0 %}
    <p>You have no clusters running at this time</p>
{% endif %}

<ul>
{% for c in clusters %}
    <li>{{ clusters[c]["name"] }} (<a href="/web/{{ user }}/cluster/{{ c }}/inspect">inspect</a>,
        <a href="/web/{{ user }}/cluster/{{ c }}/terminate">terminate</a>)</li>
{% endfor %}
</ul>
</div>
{% endblock %}