{% extends "base_user.html" %}
{% block title %}{{ user }} status{% endblock %}
{% block content %}
<h2>Status overview for user {{ user }}</h2>

<div id="cluster_list">
{% if clusters|length == 0 %}
    <p>You have no clusters running at this time</p>
{% endif %}

{% for c in clusters %}
    <div class="cluster">
    <p>{{ clusters[c]["name"] }} (<a href="/web/{{ user }}/cluster/{{ c }}/inspect">inspect</a>,
        <a href="/web/{{ user }}/cluster/{{ c }}/terminate">terminate</a>)</p>
    <ul>
        <li>Num. containers: {{ clusters[c]["num_containers"] }}</li>
        <li>Notebook cluster: {{ clusters[c]["is_notebook"] }}</li>
    </ul>
    </div>
{% endfor %}
</div>
{% endblock %}