{% extends "base_user.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<h2>System status overview</h2>
    <ul>
    <li>Containers: {{ Containers }}</li>
    <li>Images: {{ Images }}</li>
    <li>MemTotal: {{ MemTotal }}</li>
    <li>Memory limit: {{ MemoryLimit }}</li>
    <li>NCPU: {{ NCPU }}</li>
    <li>Driver status:</li>
    <li><ul>
        {% for entry in DriverStatus %}
            <li>{{ entry[0] }}: {{ entry[1] }}</li>
        {% endfor %}
    </ul></li>
    </ul>
{% endblock %}